---
import LinkArrow from '@components/LinkArrow.astro'
import Icon from '@components/DynamicHeroIcon.vue'

export interface Props {
  link?: string;
  linkText?: string;
  icon?: string;
  isLargeText?: boolean;
}
const { link, linkText, icon, isLargeText } = Astro.props;
---
<div class="text-center">
  {icon && <Icon name={icon} outline={false} client:only="vue" classes="mx-auto mb-4 w-12 h-12 text-primary" />}
  <h3 class="mb-2 font-bold text-text-title" class:list={[ { 'text-4xl': isLargeText, 'text-xl': !isLargeText } ]}>
    <slot name="title" />
  </h3>
  <div class="prose max-w-none mb-4" class:list={[ { 'prose-lg': isLargeText } ]}>
    <slot />
  </div>
  {
    link && linkText && (
      <LinkArrow href={link} classes="font-medium text-sm">
        {linkText}
      </LinkArrow>
    )
  }
</div>