---
import LinkArrow from '@components/LinkArrow.astro'

export interface Props {
  link?: string;
  linkText?: string;
}
const { link, linkText } = Astro.props;
---
<section class="">
  <div class="container mx-auto py-8">
    <h2 class="mb-4 text-4xl tracking-tight font-bold text-text-title">
      <slot name="title" />
    </h2>
    <div class="prose max-w-none">
      <slot />
    </div>
    {
      link && linkText && (
        <LinkArrow href={link} classes="font-medium mt-5">
          {linkText}
        </LinkArrow>
      )
    }
  </div>
</section>