---
import LinkArrow from "@components/LinkArrow.astro";

export interface Props {
  link?: string;
  linkText?: string;
  isCentered?: boolean;
  classes?: string;
  isH1?: boolean;
}
const { link, linkText, isCentered, classes, isH1 } = Astro.props;

const SectionTag = isH1 ? "div" : "section";
const TitleTag = isH1 ? "h1" : "h2";
---

<SectionTag class="">
  <div class="container mx-auto py-8" class:list={[classes]}>
    <TitleTag
      class="mb-4 tracking-tight text-text-title"
      class:list={[
        {
          "text-center": isCentered,
          "text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl": isH1,
          "text-4xl font-bold": !isH1,
        },
      ]}
    >
      <slot name="title" />
    </TitleTag>
    <div
      class="prose lg:prose-lg max-w-screen-lg"
      class:list={[{ "text-center": isCentered, "mx-auto": isCentered }]}
    >
      <slot name="description" />
    </div>
    {
      link && linkText && (
        <LinkArrow href={link} classes="font-medium mt-6 text-lg">
          {linkText}
        </LinkArrow>
      )
    }
    <slot />
  </div>
</SectionTag>
