---
import LinkArrow from '@components/LinkArrow.astro'

export interface Props {
  link?: string;
  linkText?: string;
  isCentered?: boolean;
  classes?: string;
}
const { link, linkText, isCentered, classes } = Astro.props;
---
<section class="">
  <div class="container mx-auto py-8" class:list={[ classes ]}>
    <h2 class="mb-4 text-4xl tracking-tight font-bold text-text-title" class:list={[ { 'text-center': isCentered } ]}>
      <slot name="title" />
    </h2>
    <div class="prose lg:prose-lg max-w-screen-lg" class:list={[ { 'text-center': isCentered, 'mx-auto': isCentered } ]}>
      <slot name="description" />
    </div>
    {
      link && linkText && (
        <LinkArrow href={link} classes="font-medium mt-6 text-lg">
          {linkText}
        </LinkArrow>
      )
    }
    <slot />
  </div>
</section>