---

---
<div class="container pb-8 mx-auto text-center pt-10 lg:pt-20">
  <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-text-title md:text-5xl lg:text-6xl"><slot name=title1 /><div class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"><slot name=title2 /></div></h1>
  <p class="mb-8 font-light text-text-muted md:text-lg lg:text-xl sm:px-16 xl:px-48"><slot name=description /></p>
</div>