:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

html {
  @apply text-text-base;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.content-page {
  @apply mx-auto p-4 lg:p-8;
}

.link {
  @apply text-link hover:text-link-hover hover:underline;
}
