@layer components {
  .menu-item {
    @apply block px-4 py-1 text-gray-700  hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700  dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
  }
  .menu-item.active {
    @apply text-white bg-blue-700 md:bg-transparent md:text-blue-700  dark:text-white;
  }
}
