@font-face {
  font-family: Inter;
  src: url("/mach-app/fonts/Inter.woff2") format("woff2 supports variations"),
    url("/mach-app/fonts/Inter.woff2") format("woff2-variations");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
