@import '@oruga-ui/oruga-next/dist/oruga-full-vars.css';

.o-btn {
  --oruga-button-padding: calc(0.375em - 1px) .9em;
  @apply transition rounded-[3px] font-semibold;

  /* &--icon-only {
    @apply p-[2px] min-w-[24px] leading-none;

    .o-icon {
      @apply text-lg;
    }

    &[class*="outlined"] {
      @apply p-[4px];

      .o-icon {
        @apply text-base;
      }
    }
  } */

  /* &.radio {
    @apply py-1 px-3;
  }

  &.o-btn--expanded {
    .o-btn__label {
      @apply text-left;
    }
  } */

  &--small {
    --oruga-button-font-size-small: theme('fontSize.sm')

    /* &.o-btn--icon-only {
      @apply p-[2px];
    } */
  }

  &--large {
    --oruga-button-font-size-large: theme('fontSize.lg')

    /* .fa-2x {
      @apply text-base;
    } */
  }
}

.o-btn--primary {
  --oruga-variant-primary: theme('colors.primary');
  @apply hover:bg-primary-hover focus:ring focus:ring-opacity-50 focus:ring-primary-600;
}

/* Input */
.o-input {
  --oruga-input-padding: calc(0.375em - 1px) .7em;
  --oruga-input-border-color: theme('colors.border-input');
  --oruga-input-box-shadow: none;
  --oruga-input-background-color: TODO;
  --oruga-input-color: theme('colors.text-base');

  @apply transition-colors transition-shadow focus:border-primary focus:ring-1 focus:ring-opacity-50 focus:ring-primary;

  &::placeholder {
    @apply text-text-muted opacity-100 italic;
  }

  &--large {
    --oruga-input-font-size-large: theme('fontSize.lg')
  }
}