---
export interface Props {
  label: string;
  Option?: any;
}
const { label } = Astro.props;
---

<div
  class='quiz-section m-6 w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700'
>
  <div class='px-4 pt-4'>
    <h4>{label}</h4>
    <slot />
  </div>
</div>
