---
import { Collection, CourseDataProps, GroupCourse } from '@models/courses';
import { CollectionEntry } from 'astro:content';
import Icon from '@components/DynamicHeroIcon.vue';
import GroupItem from './GroupItem.astro';

type Props = {
  sectionIdx: number;
  key: string;
  courses: CollectionEntry<Collection>[];
};
const { courses, key, sectionIdx } = Astro.props;
---

<li class='space-y-4'>
  <div class='p-3 bg-gray-200 border border-gray-200 rounded-md'>
    <div>SECTION {sectionIdx + 1}</div>
    <h3 class='m-0'>{key}</h3>
  </div>
  <ul class='list-none p-0' data-section={key}>
    {
      courses.map((c, idx) => {
        return <GroupItem course={c} lessonIdx={idx} />;
      })
    }
  </ul>
</li>
