---
import { Collection, CourseDataProps, GroupCourse } from '@models/courses';
import { CollectionEntry } from 'astro:content';
import Menu from './Menu.vue';
export type Props = {
  courseId: string;
  courses: CollectionEntry<Collection>[];
  params?: {
    course: string;
    slug: string;
  };
};
const { courseId, courses, params } = Astro.props;

const grouped: GroupCourse = courses?.reduce((acc, curr) => {
  const { section = '' } = curr.data as CourseDataProps;
  if (!acc[section]) acc[section] = []; //If this type wasn't previously stored
  acc[section].push(curr);
  return acc;
}, {});
---

<div id='course-toc'>
  <nav>
    <h2 class='mt-0'>Table of content</h2>
    <Menu client:only='vue' grouped={grouped} params={params} baseUrl={import.meta.env.BASE_URL} />
  </nav>
</div>
