---
import ContactForm from "@components/ContactForm.vue";
import MainLayout from "@layouts/MainLayout.astro";
import { locales } from '@constants/localize';
const {
  pages: { contact: localContact }
} = locales;
---

<MainLayout>
  <div class="bg-background-base p-4 md:p-6 rounded border border-border-input md:max-w-[600px] mx-2 md:mx-auto mt-6 md:mt-10">
    <h1 class="mb-4 text-2xl tracking-tight font-extrabold text-text-title lg:mb-8 md:text-4xl">
      {localContact.title_start} {localContact.title_email &&
      <a href=`mailto:${localContact.title_email}` class="text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">
          {localContact.title_email}
      </a>
    } {localContact.title_end}
    </h1>
    <ContactForm client:only="vue"/>
  </div>
</MainLayout>
