---
import ContentLayout from '@Contentlayout';
import '@styles/global.css';
---

<ContentLayout>
  <h1>tutorialspoint CODE COMPILER</h1>
  <iframe src='https://glot.io/new/go' height='1000' width='750'></iframe>
</ContentLayout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
