---
import ContentLayout from '@ContentLayout';
import '@styles/global.css';
import CodeCompiler from '@components/CodeCompiler';
---

<ContentLayout>
  <h1>tutorialspoint CODE COMPILER</h1>

  <CodeCompiler client:only='react' />
</ContentLayout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
