---
import ContentLayout from '@ContentLayout';
import '@styles/global.css';
---

<ContentLayout>
  <h1>JDOODLE CODE COMPILER</h1>

  <div data-pym-src='https://www.jdoodle.com/iembed/v0/IqD'></div>

  <!-- This script tag contains the 
        javascript code in the written URL -->
  <script src='https://www.jdoodle.com/assets/jdoodle-pym.min.js' type='text/javascript'></script>
</ContentLayout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
