---
import Layout from "@layouts/layout.astro";
---
<Layout>

<section>
<main class="pb-16 lg:pb-24 bg-white dark:bg-gray-900">
  <header class="bg-[url('https://www.nippon.com/en/ncommon/contents/japan-data/1971940/1971940.jpg')] w-full h-[460px] xl:h-[537px] bg-no-repeat bg-cover bg-center bg-blend-darken relative">
      <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50"></div>
      <div class="absolute top-20 left-1/2 px-4 mx-auto w-full max-w-screen-xl -translate-x-1/2 xl:top-1/2 xl:-translate-y-1/2 xl:px-0">
          <h1 class="mb-4 max-w-4xl text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl">What is our mission?</h1>
          <p class="text-lg font-normal text-gray-300">Why do we want to train more software engineers Japan?</p>
      </div>
  </header>


  <div class="flex relative z-20 justify-between p-6 -m-36 mx-4 max-w-screen-xl bg-white dark:bg-gray-800 rounded xl:-m-32 xl:p-9 xl:mx-auto">
      <article class="xl:w-[828px] w-full max-w-none format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
          <div class="flex flex-col lg:flex-row justify-between lg:items-center">
              <div class="flex items-center space-x-3 text-gray-500 dark:text-gray-400 text-base mb-2 lg:mb-0">
              </div>
          </div>
          

<p>The world is changing. Fast. We can already see that software and AI are reshaping a lot of industries.</p> 

<p>Just with like any age or revolution, companies get destroyed and new ones emerge. Japan did extremely well in many sectors of the industrial age. Electronics, automotive, manufacturing or chemistry to name a few.</p>

<p>While all the industries above will always remain strong, software and AI are also reshuffling economies and creating new opportunities. In this era, software litteracy is a strong skill to have.</p>

<p>As a result, it is obvious and critical to train more people in Japan to be ready for this future.</p>

<p>Of course, there are many great universities, however not everyone had the chance to enter or afford them. Or they simply didn't choose this way when it as time to choose. In this regard, universities and classic education are not enough.</p>

<p>The greatest companies of today were often started by one person, a crazy idea and a handful of highly motivated people. Thanks to them, millions of jobs were created over the past decades and the Japanese economy thrived.
This was made possible because there was talent available. Toyota, Nintendo or Sony wouldn't be there today if it didn't have excellent people with the right skills to operate machines to build high quality products.</p>

<p>If Japan wants to win the information age, bold ideas, smart people and available funding won't be enough. This also requires a high availability of properly trained people ready for the information age.</p>


<p>One recurring topic I have been hearing for years is that Japan should have easier immigration policy to fill high tech jobs. I have read countless social media posts and articles asking for more immigration as the solution.
Some companies have even integrated this in their way to operate and part of their business model.
Most companies are not interested to fix social issues, they just want to get the job done on the short term with least effort. Training people takes time.
Most companies want easy/quick fixes and hiring foreigners is a short-term solution but is it a sustainable one? And what about social impact?</p>


<p>I believe the A plan should be to focus on the question: How can we enable more Japanese people to be IT proficient and ready for this new era.
The first step should be that IT education should be free, accessible at any stage of your life and wherever you are living.</p>


<p>Ecole42 was born from this concept and mindset in France. I was delighted when I heard they expanded in Tokyo. This type of effort should be pushed furthermore.</p>


<p>Since covid19, I do see plenty of people struggling financially. At the same time, many companies are struggling to hire IT professionals in Japan. As you can see on this <a href="https://japan-dev.com/backend-jobs-in-japan" target="_blank">website</a> advertising jobs in Japan to foreigners, many high paying positions are opened.</p>


<p>I do feel education is key here. The cool thing with IT is that it relies on skills, not your diploma. If you are good and can get the job done, that's usually what most companies care about.</p>

<p>Relying on immigration is not fixing the root cause of the problem, it is just a workaround. We're on a mission to fix this social issue.</p>

          <figure><img src="https://www.sciencealert.com/images/2022/08/YoungJapaneseChildrenWalking.jpg" alt="" class="mx-auto">
          </figure>

<h2>Why Japan?</h2>

<p>Yes, I am a foreigner. I went and lived in different countries. Japan was love at first sight and is the place that still amazes me the most. I love its beauty, its culture, its manners, its products and above all, its people. With good and less-good sides.</p>

<p>I often hear <i>“you dont understand, you are a foreigner, Japan has lots of bad sides, you know."</i> of course, but I dont care.</p>
<p><i>“Japan economy is doomed”</i> I often hear from time to time or even <i>"the government is bad"</i> or <i>"population is shrinking"</i></p>

<p>When facing challenges, there are two attitudes from here. The first is to complain and think this is just "the way it is". This mindset leads to a way of life where we focus on our own pleasure for our remaining time on this planet. The second attitude is to stand up, and try to fix the situation, or at least, make it a little better. Wether or not its a success is not the most important. Just like sports, showing up and giving it our best shot is what counts.<p>

<p>In any case, hoping for someone else to fix something for you usually leads to frustration. On the other hand, choosing to be part of the solution is a great feeling which puts us back in the driver seat. In any case, is within the power of each of us to come up with innovative solutions to problems. Talk is cheap.</p>

<p>I feel I received a lot from Japan to this day. Starting this project makes me feel giving a little back, hopefully.</p>

<p><i>“It's not who we are underneath, but what we do that defines us.”</i></p>

</div>
</main>
</section>

</Layout>