---
import ContentLayout from '@Contentlayout';
import '@styles/global.css';
---

<ContentLayout>
  <h1>tutorialspoint CODE COMPILER</h1>
  <iframe src='https://www.tutorialspoint.com/execute_golang_online.php' height='500' width='300'></iframe>
</ContentLayout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
