---
import Layout from "@layouts/layout.astro";
---
<Layout>

<div class="max-w-screen-xl px-4 pt-8 mx-auto text-center lg:pt-16 lg:px-12">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Free. <div class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600">Forever.</div></h1>
        <p class="mb-8 font-light text-gray-500 md:text-lg lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">No tuition fees, no hidden cost. All you have to invest is your time.</p>
</div>

<section class="bg-white dark:bg-gray-900">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">How can this be free? 🎁</h2>
            <p class="mb-4">This website was started as a website made with love and passion for software engineering and sharing knowledge. As a result, we do not expect any income for now and want to keep things simple.</p>
            
            <p>We might welcome donations from companies in the future. Companies are paying absurd sums of money to hire people. Many tech recruiters are charging companies between 30% to 40% of yearly income of the hired person. For tech talent, this means very large sums of money. We believe these should be used to feed into an ecosystem and benefit the candidates.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>


<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">A completely different <span class="font-extrabold">model</span> that benefits you first</h2>
          <p class="mb-4 font-light">Companies are ready to pay a lot of money on hiring agencies to hire talented people and even to relocate them sometimes. This money would be better spent training people.</p>
          <p class="mb-4 font-medium">We believe this money should go to create better education. In any case, we will never charge people for taking the opportunity to learn.</p>
          <!--<a href="#" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
              Learn more
              <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>-->
      </div>
  </div>
</section>


<section class="bg-white dark:bg-gray-900">
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 xl:gap-16 sm:py-16 lg:px-6 ">
      <img class="mb-4 w-full lg:mb-0 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/features/feature-office-long.png" alt="feature image">
      <div class="text-gray-500 dark:text-gray-400 sm:text-lg">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our secret sauce 👨‍🍳</h2>
          <p class="mb-8 font-light lg:text-xl">Yes, creating content and training people usually costs money. Here are our secret sauce recipe.</p>
          <div class="py-8 mb-6 border-t border-b border-gray-200 dark:border-gray-700">
              <div class="flex">
                  <div class="flex justify-center items-center mr-4 w-8 h-8 rounded-full bg-primary-100 dark:bg-primary-900 shrink-0">
                      <svg class="w-5 h-5 text-primary-600 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                  </div>
                  <div>
                      <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Community created content</h3>
                      <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Our content will be created and maintained by passionate people who work in IT. In fact, we want to make this content to be publicly and freely available to anyone.</p>
                  </div>
              </div>
              <div class="flex pt-8">
                  <div class="flex justify-center items-center mr-4 w-8 h-8 bg-purple-100 rounded-full dark:bg-purple-900 shrink-0">
                      <svg class="w-5 h-5 text-purple-600 dark:text-purple-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                  </div>
                  <div>
                      <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Make mutual help the standard</h3>
                      <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Explaining a concept you recently learnt to someone else is magic as it benefits both the teacher and the learner. We aim to create an ecosystem where everyone can be taught from more experienced students while teaching students with less experience. A virtuous cycle.</p>
                  </div>
              </div>
              <div class="flex pt-8">
                  <div class="flex justify-center items-center mr-4 w-8 h-8 bg-teal-100 rounded-full dark:bg-teal-900 shrink-0">
                      <svg class="w-5 h-5 text-teal-600 dark;text-teal-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </div>
                  <div>
                      <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Automatic feedbacks</h3>
                      <p class="mb-2 font-light text-gray-500 dark:text-gray-400">Software and data can make learning more scalable and effective. Our platform will give you automatic feedback on where to improve. Alternatively, it will also tell us how we should improve our content by analyzing the data.</p>
                  </div>
              </div>
          </div>
          <p class="text-sm">And more to come, we're just getting started 🚀</p>
      </div>
  </div>
</section>
</Layout>