---
// <Quizz
//   options="['Garbage collected','Intrepreted','Statically Typed']"
//   answer='Statically Typed'
//   prize='19'
// >
//   <h6>Which term does NOT describe JavaScript?</h6>
// </Quizz>
export interface Props {
  options: string[];
  answer: string;
  xp: string;
}

const { xp, options, answer } = Astro.props;
---

<p>THIS IS A QUIZZ</p>
<slot />
