---
import Card from './Card.astro';
import { getAllCourseIndex } from '@utils/collections';
const courses = await getAllCourseIndex('courses');
---
<div>
  <div class="max-w-3xl mx-auto py-8 px-2 md:px-0">
    <h1 class="text-text-title max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl"><slot name="title" /></h1>
    <ul class="p-0 grid mt-10 lg:mt-13 gap-4 md:grid-cols-2 md:gap-11">
      {courses.map((course) => <Card href={`${course.collection}/${course.slug}`} course={course} />)}
    </ul>
  </div>
</div>
