---
import Navbar from '@components/Navbar.astro';
import BaseHead from '@components/Head/BaseHead.astro';

import '@styles/global.css';
import Footer from '@components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  preview?: string;
}
---

<html lang='en'>
  <head>
    <BaseHead title={Astro.props.title} description={Astro.props.description} preview={Astro.props.preview} />
  </head>
  <body class='bg-background-page'>
    <Navbar />
    <slot />

    <Footer />
  </body>
</html>
