---
import Navbar from '@components/Navbar.astro';
import BaseHead from '@components/Head/BaseHead.astro';

// export interface Props {
//   title: string;
// }
---

<html lang='en'>
  <head>
    <BaseHead {...Astro.props} />
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
