---
import Navbar from '@components/Navbar.astro';
import BaseHead from '@components/Head/BaseHead.astro';

import '@styles/global.css';
import '@oruga-ui/oruga-next/dist/oruga.css'

// export interface Props {
//   title: string;
// }
---

<html lang='en'>
  <head>
    <BaseHead title={Astro.props.title} description={Astro.props.description} preview={Astro.props.preview} />
  </head>
  <body class="bg-background-page">
    <Navbar />
    <slot />
  </body>
</html>
