---
import LoginStatus from '@components/Auth/LoginStatus.vue';
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout {...Astro.props}>
  <main class='content-page prose lg:prose-xl'>
    <slot />
  </main>
</BaseLayout>
