---
import BaseLayout from './BaseLayout.astro';

const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title;
const props = frontmatter || Astro.props;
const description = frontmatter?.description;
const image = frontmatter?.image;

const hasHeader = pageTitle && description && image;
---
<BaseLayout {...props}>
  <main>
    {hasHeader && (
      <header class="bg-[url('https://www.nippon.com/en/ncommon/contents/japan-data/1971940/1971940.jpg')] w-full h-[460px] xl:h-[537px] bg-no-repeat bg-cover bg-center bg-blend-darken relative">
        <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50"></div>
        <div class="absolute top-20 left-1/2 px-4 mx-auto w-full max-w-screen-xl -translate-x-1/2 xl:top-1/2 xl:-translate-y-1/2 xl:px-0">
          <h1 class="mb-4 max-w-4xl text-2xl font-extrabold leading-none text-white sm:text-3xl lg:text-4xl">{pageTitle}</h1>
          <p class="text-lg font-normal text-gray-300">{description}</p>
        </div>
      </header>
      <div class="flex relative z-20 justify-between p-6 -m-36 mx-4 max-w-screen-xl bg-background-page rounded xl:-m-32 xl:p-9 xl:mx-auto">
        <div class="xl:w-[828px] w-full max-w-none prose prose-lg">
          <slot />
        </div>
        <div>TODO TOC</div>
      </div>
    )}
    {!hasHeader && <slot />}
  </main>
</BaseLayout>
