---
import BaseLayout from './BaseLayout.astro';

const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title;
const props = Astro.props?.frontmatter || Astro.props;
---

<BaseLayout {...props}>
  <main class='content-page prose lg:prose-xl'>
    <h1>{pageTitle}</h1>
  </main>
</BaseLayout>
