---
import BaseLayout from './BaseLayout.astro';

const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title;
const props = Astro.props?.frontmatter || Astro.props;
---

<BaseLayout {...props}>
  <main>
    <h1 class="text-text-base">{pageTitle}</h1>
    <slot></slot>
  </main>
</BaseLayout>
