---
import BaseLayout from './BaseLayout.astro';

const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title;
const props = Astro.props?.frontmatter || Astro.props;
---

<BaseLayout {...props}>
  <main class='content-page prose prose-slate dark:prose-dark'>
    <h1>{pageTitle}</h1>
    <slot />
  </main>
</BaseLayout>
