---
import BaseLayout from './BaseLayout.astro';
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main class='content-page prose prose-slate dark:prose-dark'>
    <slot />
  </main>
</BaseLayout>
