---
import BaseLayout from './BaseLayout.astro';
const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <main class='content-page prose prose-lg lg:prose-xl bg-background-base rounded'>
    <slot />
  </main>
</BaseLayout>
