---
import BaseLayout from './BaseLayout.astro';
const { title } = Astro.props;
---

<BaseLayout title={title}>
  <main class='content-page prose-stone prose lg:prose-lg'>
    <slot />
  </main>
</BaseLayout>
