---
import MainLayout from './MainLayout.astro';
const { title, frontmatter } = Astro.props;
import '@styles/global.css';
---

<MainLayout title={title || frontmatter?.title}>
  <main class='content-page prose lg:prose-xl'>
    <slot />
  </main>
</MainLayout>
