---
import { UserCircleIcon } from '@heroicons/vue/24/outline';
---

<button
  type='button'
  class='hidden ml-5 rounded-full p-2.5 text-center inline-flex items-center mr-2 focus:ring-4 bg-gray-800 focus:ring-gray-300 dark:focus:ring-gray-600'
  id='user-menu-button'
  id='isLoggedIn'
  aria-expanded='false'
  data-dropdown-toggle='user-dropdown'
  data-dropdown-placement='bottom'
>
  <span class='sr-only'>Open user menu</span>
  <UserCircleIcon class='h-6 h-6 text-gray-100' />
</button>

<a
  id='isNotLoggedIn'
  href={`${import.meta.env.BASE_URL}login/`}
  class:list={[
    'hidden menu-item text-center py-2.5 px-6 text-purple-700 rounded-md border hover:text-white border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900',
    { active: Astro.url.pathname === `${import.meta.env.BASE_URL}login/` }
  ]}
>
  Login
</a>

<script>
  import { getUser } from '@utils/auth';
  try {
    let element: HTMLElement | null;
    const user = await getUser();
    console.log('user', user);
    if (user) {
      element = document.getElementById('user-menu-button');
    } else {
      element = document.getElementById('isNotLoggedIn');
    }
    element?.classList.toggle('hidden');
  } catch (error) {}
</script>
